<h1><%= @lab.name %></h1>

<h3>Current Scientists & Total Experiments:</h3>
<% @lab.scientists.each do |scientist| %>
  <ul>
    <li><%= scientist.name %>: <%= scientist.experiments.size %></li>
  </ul>
<% end %>